<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog Post</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <!-- Page header with logo and tagline-->
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder">Welcome to Blog Home!</h1>
          <p class="lead mb-0">
            A Bootstrap 5 starter layout for your next blog homepage
          </p>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <% if (current_pg == 1) { %>
          <div class="card mb-4">
            <a href="#!"
              ><img
                class="card-img-top"
                src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"
                alt="..."
            /></a>
            <div class="card-body">
              <div class="small text-muted">January 1, 2023</div>
              <h2 class="card-title"><%= allBlogs[index].title; %></h2>
              <p class="card-text"><%= allBlogs[index].summary; %></p>
              <a
                class="btn btn-primary"
                href="/post/<%= current_pg %>/<%= index %>/<%= allBlogs[index].title %>"
                >Read more →</a
              >
            </div>
          </div>
          <% index++; %> <% } %>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <% if (current_pg != 1) { %>
            <div class="col-lg-6">
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
              <!-- Blog post-->
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
            </div>
            <% } %>
            <div class="col-lg-6">
              <!-- Blog post-->
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
              <!-- Blog post-->
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
            </div>
            <div class="col-lg-6">
              <!-- Blog post-->
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
              <!-- Blog post-->
              <% if (index < Object.keys(allBlogs).length) { %>
              <div class="card mb-4">
                <a href="#!"
                  ><img
                    class="card-img-top"
                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..."
                /></a>
                <div class="card-body">
                  <div class="small text-muted">January 1, 2023</div>
                  <h2 class="card-title h4"><%= allBlogs[index].title; %></h2>
                  <p class="card-text"><%= allBlogs[index].summary; %></p>
                  <a
                    class="btn btn-primary"
                    href="/<%= current_pg %>/<%= index %>/post/<%= allBlogs[index].title %>"
                    >Read more →</a
                  >
                </div>
              </div>
              <% index++; %> <% } %>
            </div>
          </div>
          <!-- Pagination-->
          <nav aria-label="Pagination">
            <hr class="my-0" />
            <ul class="pagination justify-content-center my-4">
              <!-- previous button -->
              <li class="page-item">
                <% if(current_pg - 1 > 0) { %>
                <a class="page-link" href="/page/<%= current_pg-1 %>"
                  >Previous</a
                >
                <% } else { %>
                <a class="page-link disabled" disabled>Previous</a>
                <% } %>
              </li>

              <!-- Dynamic Page Numbers -->
              <% for(let i = 1; i <= len; i++) { %> <% if (i == current_pg) { %>
              <!-- Current Page -->
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="/page/<%= i %>"><%= i %></a>
              </li>
              <% } else { %>
              <li class="page-item" aria-current="page">
                <a class="page-link" href="/page/<%= i %>"><%= i %></a>
              </li>
              <% }} %>
              <!-- Next Button -->
              <li class="page-item">
                <% if(current_pg + 1 <= len) { %>
                <a class="page-link" href="/page/<%= current_pg + 1 %>">Next</a>
                <% } else { %>
                <a class="page-link disabled" disabled>Next</a>
                <% } %>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Side widgets-->
        <%- include('partials/user-partials/side-menu') %>
      </div>
    </div>
    <!-- Footer-->
    <%- include('partials/user-partials/footer') %>
    <!-- Bootstrap core JS-->
    <script src="/js/bootstrap.js"></script>
    <!-- Core theme JS-->
  </body>
</html>
